body{
    margin:0% ;
    background-color: rgb(255, 240, 247);

}
h1{
    font-family: "poppins", sans-serif;
    font-weight: 900;
    line-height: 1.33;
    letter-spacing: 2px;
    color: rgb(6, 47, 83);
    margin-bottom: 2rem;
    
}

img{
    width: 200px;
}
.image-gallery li img{

    display: flex;
    flex-direction: row;
}
    


.input{
    display: flex;
    flex-direction: column;
    align-items: center;
}



